<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home"><a routerLink="/">Home</a></li>
      <li class="nav-button-services"><a routerLink="/conheca-toronto">Conheça Toronto</a></li>
      <li class="nav-button-products"><a routerLink="/locais">Locais</a></li>
      <li class="nav-button-products"><a routerLink="/gastronomia">Gastronomia</a></li>
      <li class="nav-button-products"><a routerLink="/hospedagem">Hospedagem</a></li>
      <li class="nav-button-products"><a routerLink="/viagem">Eventos</a></li>
      <li class="nav-button-products"><a routerLink="/contato">Contato</a></li>
     
    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <h1></h1>
    <div class="flex-container">
      <div class="section">
          <h3>Fale Conosco</h3>

          <div class="container">
            <form action="/action_page.php">
              <label>Nome</label>
              <input type="text" placeholder="firstname lastname">

              <label>Telefone</label>
              <input type="text" placeholder="(99)9999-9999">
          
              <label>Email</label>
              <input type="text" placeholder="exemplo@email.xyz">

              <label>Cidade</label>
              <input type="text" placeholder="São Paulo">
          
              <label >Motivo do contato:</label>
              <select id="contato">
                <option value="duvida">Dúvida</option>
                <option value="sugestao">Sugestão</option>
                <option value="reclamacao">Reclamação</option>
              </select>
          
              <label>Mensagem</label>
              <textarea placeholder="Digite sua mensagem..." style="height:200px"></textarea>
              
    
              <input type="submit" value="Submit">
            </form>
          </div>
          
    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="tile_hex"></div>
<div class="how_to_contact">
  <div class="content">
    <h1>Como nos contatar?</h1>
    <div class="footer">
      <p>Preencha nosso formulário clicando
        <a routerLink="/contato" id="link">aqui</a>
      </p>
      <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>
</div>
<!-- Informações Adicionais -->


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->