<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home">
        <a routerLink="/">Home</a>
      </li>
      <li class="nav-button-services">
        <a routerLink="/conheca-toronto">Conheça Toronto</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/locais">Locais</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/viagem">Monte seu roteiro</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/contato">Contato</a>
      </li>
    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <h1></h1>
    <div class="flex-container">
      <div class="section">
        <h4>Preencha o formulário</h4>
        <form action="/my-handling-form-page" method="post">
          <div>
            <label for="name">Nome:</label>
            <input type="text" id="name" required>
          </div>

          <div>
            <label for="number">Telefone:</label>
            <input type="number" id="number" required>
          </div>

          <div>
            <label for="name">Cidade:</label>
            <input type="text" id="city" required>
          </div>

          <div>
            <label for="mail">E-mail:</label>
            <input type="email" id="mail" required>
          </div>

          <div>
            Tipo de contato:
            <select>
              <option value="volvo">Dúvida</option>
              <option value="saab">Sujestão</option>
              <option value="opel">Reclamação</option>
            </select>
          </div>

          <div>
            <label for="msg">Message:</label>
            <textarea id="msg" required></textarea>
          </div>

          <div class="button">
            <button type="submit">Send your message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="tile_hex"></div>
<div class="how_to_contact">
  <div class="content">
    <h1>Como nos contatar?</h1>
    <div class="footer">
      <p>Preencha nosso formulário clicando
        <a routerLink="/contato" id="link">aqui</a>
      </p>
      <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>

</div>
<!-- Informações Adicionais -->


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->