<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home">
        <a routerLink="/">Home</a>
      </li>
      <li class="nav-button-services">
        <a routerLink="/conheca-toronto">Conheça Toronto</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/locais">Locais</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/gastronomia">Gastronomia</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/restaurante">Hospedagem</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/viagem">Eventos</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/contato">Contato</a>
      </li>

    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <h1>Gastronomia</h1>
    <div class="flex-container">
      <div *ngFor="let restaurante of restaurantes">
        <div class="col-md-5 col-sm-5">
          <div class="hotel-entry">
            <img src="{{restaurante.foto}}" class="hotel-img">
            <p class="price"><span>{{restaurante.tipo}}</span></p>
            <div class="desc">
              <p class="star"><span><i class="icon-star-full"></i></span>Preço: {{restaurante.preco}}</p>
              <h3>{{restaurante.nome}}</h3>
              <span class="place">{{restaurante.descricao}}</span>
              <p>{{restaurante.endereco}}</p>
              <p><b>Horário:</b> {{restaurante.horario}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="how_to_contact">
  <div class="content">
    <h1>Como nos contatar?</h1>
    <div class="footer">
      <p>Preencha nosso formulário clicando
        <a routerLink="/contato" id="link">aqui</a>
      </p>
      <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>
</div>
<!-- Informações Adicionais -->

<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->