

<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
         <li class="nav-button-home"><a routerLink="/">Home</a></li>
         <li class="nav-button-services"><a routerLink="/conheca-toronto">Conheça Toronto</a></li>
         <li class="nav-button-products"><a routerLink="/locais">Locais</a></li>
         <li class="nav-button-products"><a routerLink="/viagem">Monte seu roteiro</a></li>
         <li class="nav-button-products"><a routerLink="/contato">Contato</a></li>
         <!-- <div>  
          <input type="text"  [(ngModel)]="Filter.nome" placeholder="name">  
          <ul>  
            <li *ngFor="let ponto of pontos | search: searchFilter">{{ ponto.nome }}</li>  
          </ul>  
      </div>   -->
        </ul>
</nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
    </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <h1></h1>
    <div class="flex-container">
      <div *ngFor="let ponto of ponto">
          <h1>{{ponto.nome}}</h1>
          <p><img src="{{ponto.fotos}}"></p>
          <p>{{ponto.descricao}}</p>
          <p><b>Preço:</b> {{ponto.preco}}</p>
          <p><b>Quando visitar:</b> {{ponto.quando}}</p>
          <p><b>Endereço:</b> {{ponto.endereco}}</p>
          <p><b>Tempo de Visita:</b> {{ponto.tempoMedioDeVisita}}</p>
          <agm-map [latitude]="lat" [longitude]="lng">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
          </agm-map>
      </div>
    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="tile_hex"></div>
<div class="how_to_contact">
  <div class="content">
      <h1>Como nos contatar?</h1>
      <div class="footer">
          <p>Preencha nosso formulário clicando <a routerLink="/contato" id="link">aqui</a></p>
          <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>
</div>
<!-- Informações Adicionais -->


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->
