<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home">
        <a routerLink="/">Home</a>
      </li>
      <li class="nav-button-services">
        <a routerLink="/conheca-toronto">Conheça Toronto</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/locais">Locais</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/gastronomia">Gastronomia</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/hospedagem">Hospedagem</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/viagem">Eventos</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/contato">Contato</a>
      </li>
    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
<div class="content-new">
<div class="flex-container">
<div class="wrapper row3">
  <main class="hoc container clear">
    <div class="content-new">
      <br><h2 style="text-align: center;">Conheça Toronto</h2>
      <div class="divisao">
        <img src="/src/assets/toronto-historia-14.jpg">
        <img src="/src/assets/toronto-historia.jpg">
        <img src="/src/assets/toronto-historia2.jpg">
        <img src="/src/assets/toronto-historia3.png">
        <img src="/src/assets/toronto-historia4jpg.jpg">
        <img src="/src/assets/toronto1867.jpeg">
        <img src="/src/assets/toronto-historia4jpg.jpg">
        <img src="/src/assets/toronto-historia5.jpg">

        <p>Maior cidade do Canadá, e quarta maior cidade da América do Norte, Toronto é o centro de negócios, entretenimento
          e turismo. A cidade é famosa por seu desenvolvimento e diversidade, é a capital da província de Ontário,
          a mais populosa província do Canadá. Com uma localização central, entre as cidades de Nova York, Chicago
          e Montreal, Toronto está a cerca de 90 minutos de voo para mais da metade dos Estados Unidos e das cidades
          canadenses.Toronto fica na margem norte do Lago Ontário (o mais oriental dos grandes lagos) e tem um litoral
          que se estende por 43 quilômetros com praias, marinas e portos. Os primeiros habitantes se estabeleceram
          há mais de 11.000 anos atrás; e a área que agora compõe Toronto foi o lar de uma grande variedade de grupos
          aborígenes durante séculos. Os ingleses estabeleceram um assentamento e um forte no final dos anos 1.700,
          chamando o local de assentamento York. A batalha de York foi a batalha chave na guerra de 1812, e deixou
          a cidade muito danificada. Em 1834 a cidade foi incorporada e passou a se chamar Toronto. Há mais de dois
          séculos Toronto vem atraindo imigrantes da Europa, América Latina, Ásia e África. No começo dos anos 1980,
          sustentada pela imigração superou Montreal e assumiu o posto de maior cidade do Canadá.</p>
        <p>
          <b>Curiosidade</b>: A palavra “Toronto” vem de uma frase em Mohawk, "tkaronto", e significa "onde as árvores
          crescem na água”; a expressão refere-se ao que aconteceu há séculos atrás, quando as margens pantanosas do
          Lago Ontário chegaram mais ao norte. Algumas vezes a variação “Lac Toronto” (agora Lago Simcoe) apareceu
          em muitos mapas franceses entre os anos 1680 e 1760. Em 1720 um forte francês foi identificado como Forte
          Toronto, onde a cidade de Toronto está hoje. </p>
      </div>

<div class="divisao">
  <h2>Transporte</h2>
  <p>O sistema de transporte público de Toronto, chamado de TTC foi votado como o melhor da América do Norte pela
    APTA em 2017. É a melhor forma de se locomover pela cidade pelo fato dos estacionamentos serem mais caros.
  </p>
</div>
<div class="divisao">
  <h2>Ônibus</h2>

  <img src="/src/assets/onibus-2.jpg">
  <img src="/src/assets/onibus3.jpg">
  <img src="/src/assets/onibus4.jpg">
  <img src="/src/assets/onibus5.jpg">

  <p>Toronto possui mais de 140 rotas de ônibus, que operam entre 6am e 1am todos os dias e a partir das 8am nos
    domingos. Algumas rotas operam a noite toda e elas são chamadas de Blue Line Network. O mapa completo com
    todas as rotas pode ser visualizado
    <a href="http://www.ttc.ca/PDF/Maps/TTC_SystemMap.pdf">aqui</a>.</p>
  <p>Todos os ônibus tem ar condicionado, dispositivo para rebaixar a parte da entrada e saída, há suportes para
    bicicletas e geralmente os passageiros embarcam pela frente, exceto em algumas rotas, onde é permitido embarcar
    em qualquer porta. O desembarque pode ser feito em qualquer porta e também não é preciso fazer sinal para
    o ônibus parar, se houver pessoas no ponto eles param.</p>
</div>
  <div class="divisao">
    <h2>Streetcar</h2>
    <img src="/src/assets/transporte-toronto.png">
    <img src="/src/assets/car.jpg">
    <img src="/src/assets/car2.jpg">
    <img src="/src/assets/car3.jpg">
    <p>O streetcar é o bondinho que anda nos trilhos em algumas ruas da cidade. Eles tem no total 11 rotas e a maioria
      opera 24 horas. A maior parte da frota é concentrada no centro de Toronto, sendo que muitas das rotas datam
      do século XIX. Os bondes andam tanto em pavimentos próprios, como compartilham a mesma faixa com veículos
      convencionais.
    </p>
  </div>
  <div class="divisao">
    <h2>Metrô</h2>
    <img src="/src/assets/metro.jpg">
    <img src="/src/assets/torontometro3.jpg">
    <img src="/src/assets/toronto-subway.jpg">
    <img src="/src/assets/torontometro2.jpg">
    <p>O metrô de funciona diariamente de 6am às 1:30am e a partir das 8am aos domingos. No total possui-se 4 linhas
      de metrô com o total de 69 estações.</p>
    <ul>
      <li>
        <b>Yonge-University Line</b>: também chamada Line 1 ou yellow line. Ela possui 38 estações e tem um formato
        de “U”. Ela opera so sentido norte-sul.</li>

      <li>
        <b>Bloor-Danforth Line</b>: também chamada de Line 2 ou green line. Ela possui 31 estações no sentido leste-oeste.
      </li>

      <li>
        <b>Scarborough Line</b>: também chamada de Line 3 ou blue line. Ela possui apenas apenas 6 estações e conecta
        Scarborough a linha 2.</li>

      <li>
        <b>Sheppard Line</b>: também chamada de Line 4 ou purple line. Ela tem apenas 5 estações e opera no sentido
        leste-oeste.
      </li>

    </ul>
    <img class="mapa" src="/src/assets/mapa-metro.jpg">
    <img class="mapa" src="/src/assets/toronto-map.gif">
    <img class="mapa" src="/src/assets/mapa-metro2.png">
    <img class="mapa" src="/src/assets/great-toronto-map.jpg">

    <p>Consulte o site do
      <a href="www.ttc.ca/Subway/index.jsp">TTC</a> para mais detalhes sobre cada estação.</p>
  </div>

  <div class="divisao">
    <h2>Tarifas e Passes</h2>
    <img src="/src/assets/Metropass.jpg">
    <img src="/src/assets/Metropass2.jpg">
    <img src="/src/assets/Metropass3.jpg">
    <img src="/src/assets/torontopass.jpg">
    <p>Atualmente a tarifa em Toronto é de $ 3,25 para adultos e $ 2,10 para estudantes e idosos (mais de 65 anos).
      Porém, se você usa o transporte público regulamente, existem alguns tipos de passe que você pode comprar
      e economizar:</p>
    <ul>
      <li>
        <b>Token:</b> O Token é como se fosse uma moeda e você pode comprá-lo nas máquinas localizadas nas estações.
        Você só consegue adquirir no mínimo três pelo valor de $9 ($3 cada um). Para estudantes e idosos, eles
        são vendidos em múltiplos de 5 por $ 10,25, ou seja, cada um sai por $ 2.05.</li>

      <li>
        <b>DayPass:</b> Você compra direto na estação e poderá utilizá-lo o dia inteiro, quantas vezes quiser. O valor
        é $ 12,50. Aos sábados, domingos e feriados são disponibilizados os Group/Family Day pass. Apenas um passe
        pode ser utilizado pelo grupo todo sendo obrigatoriamente no máximo um adulto e cinco jovens entre 13 e
        19 anos dois adultos e quatro jovens com idade entre 13 e 19 anos ou dois adultos.</li>

      <li>
        <b>Weekly Pass:</b> É o passe semanal. Atualmente o valor é de $ 43,75, sendo $ 34,75 para idosos e estudantes.
        Você poderá usá-lo durante toda a semana.</li>

      <li>
        <b>Monthly Pass:</b> Este passe é válido para o mês todo, ou seja, você poderá usar quantas vezes quiser durante
        aquele mês e pagará um valor fixo. Hoje em dia, o cartão custa $ 146,25 para adultos e $116,75 para estudantes
        e idosos.</li>

      <li>Crianças menores de 12 anos não pagam passagem.</li>

    </ul>
  </div>
</div>


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->