<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home">
        <a routerLink="/">Home</a>
      </li>
      <li class="nav-button-services">
        <a routerLink="/conheca-toronto">Conheça Toronto</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/locais">Locais</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/viagem">Monte seu roteiro</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/contato">Contato</a>
      </li>
      <!-- <input type="text" [(ngModel)]="searchText" placeholder="search text goes here">
         <ul>
           <li *ngFor="let ponto of pontos | filter : searchText">
             {{ponto.name}}
           </li>
         </ul> -->
    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <h1></h1>
    <div class="flex-container">
      <div class="section">
        <a routerLink="/viagem">
          <h4>CityPASS Toronto</h4>
          <img src="/src/assets/torontoCityPass.jpg">
        </a>
        <p>Há tanta coisa para fazer nesta cidade canadense com um toque internacional, mas com o CityPASS, você verá as melhores
          atrações que a região tem para oferecer, escolhidas a dedo e disponibilizadas num talão fácil de ser usado que
          vai lhe poupar tempo e dinheiro. CityPASS é válido por 9 dias consecutivos começando com o primeiro dia de uso,
          por isso não há necessidade de ter pressa; você terá tempo de sobra para conhecer Toronto no seu próprio ritmo.</p>
      </div>
      <div class="section">
        <a routerLink="/locais">
          <h4>Os melhores Restaurantes de Toronto</h4>
          <img src="/src/assets/restaurante.jpg">
        </a>
        <p>Nos restaurantes, Toronto também oferece um pouco de tudo em matéria de culinária mundial, em bonitos salões ou ensolaradas
          varandas no verão. Você encontra desde um delicioso restaurante italiano como o Terroni — com unidades em Los Angeles
          e várias na cidade canadense (uma delas dentro do antigo tribunal do condado de York, primeiro nome de Toronto)
          — até o Leña, recém-aberto e já na lista dos melhores restaurantes da metrópole.</p>
      </div>
      <div class="section">
        <a routerLink="/viagem">
          <h4>Transporte público de Toronto</h4>
          <img src="/src/assets/onibus.jpg">
        </a>
        <p>Pensando na sua locomoção pela cidade? Separamos as melhores opções de transporte para você. o sistema de transporte
          público de Toronto, chamado de TTC, foi votado como o melhor da América do Norte pela APTA em 2017.</p>
      </div>
      <div class="section">
        <a routerLink="/conheca-toronto">
          <h4>História</h4>
          <img src="/src/assets/toronto1.jpg">
        </a>
        <p>Saiba mais sobre a história de uma das maiores cidades do Canadá</p>
      </div>
      <div class="section">
        <a routerLink="/locais">
          <h4>Procurando por passeios?</h4>
          <img src="/src/assets/torontoaquarium.jpg">
        </a>
        <p>Separamos as melhores atrações da cidade para você, e ai? tá esperando o que?</p>
      </div>
      <div class="section">
        <a routerLink="/viagem">
          <h4>Região de Grande Toronto</h4>
          <img src="/src/assets/great-toronto-map.jpg">
        </a>
        <p>Tenha uma panorâmica das rodovias e principais atrações da Região Metropolitana de Toronto (GTA) com este mapa regional de Toronto.</p>
      </div>
      <div class="section">
        <a routerLink="/viagem">
          <h4>Região do Centro de Toronto</h4>
          <img src="/src/assets/toronto-map-downtown.jpg">
        </a>
        <p>Baixe este mapa útil e detalhado do Centro de Toronto. Encontre ruas, bairros, atrações e linhas do metrô.</p>
      </div>
      <div class="section">
        <a routerLink="/viagem">
          <h4>Mapa de Ciclismo de Toronto</h4>
          <img src="/src/assets/cycling-map.jpg">
        </a>
        <p>O mapa de ciclismo de Toronto é produzido pela Cidade de Toronto e mostra aqui e ali ciclovias, rotas e conexões sugeridas, bicicletários, lugares próprios para locação e venda, entre outros.</p>
      </div>
    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="tile_hex"></div>
<div class="how_to_contact">
  <div class="content">
    <h1>Como nos contatar?</h1>
    <div class="footer">
      <p>Preencha nosso formulário clicando
        <a routerLink="/contato" id="link">aqui</a>
      </p>
      <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>

</div>
<!-- Informações Adicionais -->


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->