<!-- barra de navegação -->
<div class="head">
  <nav id="main-menu">
    <ul class="nav-bar">
      <li class="nav-button-home">
        <a routerLink="/">Home</a>
      </li>
      <li class="nav-button-services">
        <a routerLink="/conheca-toronto">Conheça Toronto</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/locais">Locais</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/gastronomia">Gastronomia</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/hospedagem">Hospedagem</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/viagem">Eventos</a>
      </li>
      <li class="nav-button-products">
        <a routerLink="/contato">Contato</a>
      </li>
    </ul>
  </nav>
</div>
<!-- barra de navegação -->

<!-- Imagem e texto inicial -->
<div class="who_we_are">
  <div class="callout">
    <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
    <div class="cycle">
      <h1></h1>
      <h1></h1>
      <h1>Toronto</h1>
    </div>
    <p>O CENTRO DO CANADÁ</p>
  </div>
</div>
<!-- Imagem e texto inicial -->

<!-- Conteúdo -->
<div class="what_we_do">
  <div class="content">
    <div class="flex-container">
      <!-- <div class="section"> -->
      <ul class="cards">
        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--citypass"></div>
            <div class="card__content">
              <div class="card__title">CityPASS Toronto</div>
              <p class="card__text">Há tanta coisa para fazer nesta cidade canadense com um toque internacional, mas com o CityPASS, você verá
                as melhores atrações que a região tem para oferecer, escolhidas a dedo e disponibilizadas num talão fácil
                de ser usado que vai lhe poupar tempo e dinheiro. CityPASS é válido por 9 dias consecutivos começando com
                o primeiro dia de uso, por isso não há necessidade de ter pressa; você terá tempo de sobra para conhecer
                Toronto no seu próprio ritmo.</p>
              <a routerlink="/locais">
                <button class="btn btn--block card__btn">Show more</button>
              </a>
            </div>
          </div>
        </li>

        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--restaurant"></div>
            <div class="card__content">
              <div class="card__title">Restaurantes</div>
              <p class="card__text">Nos restaurantes, Toronto também oferece um pouco de tudo em matéria de culinária mundial, em bonitos salões
                ou ensolaradas varandas no verão. Você encontra desde um delicioso restaurante italiano como o Terroni —
                com unidades em Los Angeles e várias na cidade canadense (uma delas dentro do antigo tribunal do condado
                de York, primeiro nome de Toronto) — até o Leña, recém-aberto e já na lista dos melhores restaurantes da
                metrópole.</p>
                <a routerlink="/gastronomia">
              <button class="btn btn--block card__btn">Show more</button>
              </a>
            </div>
          </div>
        </li>

        <li class="cards__item">
          <div class="card">
            <div class="card__image card__image--history"></div>
            <div class="card__content">
              <div class="card__title">História</div>
              <p class="card__text">Saiba mais sobre a história de uma das maiores cidades do Canadá.</p>
              <a routerlink="/conheca-toronto">
              <button class="btn btn--block card__btn">Show more</button>
              </a>
            </div>
          </div>
        </li>

        <li class="cards__item">
            <div class="card">
              <div class="card__image card__image--events"></div>
              <div class="card__content">
                <div class="card__title">Eventos</div>
                <p class="card__text">Você está procurando alguma coisa para fazer em Toronto? Quer você viva na área, tenha se mudado há pouco tempo ou esteja só de passagem, temos várias dicas e eventos imperdíveis. Você pode procurar por local, popularidade, eventos selecionados, eventos gratuitos... a escolha é sua. Pronto?</p>
                <a routerlink="/viagem">
                <button class="btn btn--block card__btn">Show more</button>
                </a>
              </div>
            </div>
          </li>
      </ul>

    </div>
  </div>
</div>
<!-- Conteúdo -->

<!-- Informações Adicionais -->
<div class="tile_hex"></div>
<div class="how_to_contact">
  <div class="content">
    <h1>Como nos contatar?</h1>
    <div class="footer">
      <p>Preencha nosso formulário clicando
        <a routerLink="/contato" id="link">aqui</a>
      </p>
      <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
    </div>
  </div>

</div>
<!-- Informações Adicionais -->


<!-- Rota da barra de navegação pelo Angular -->
<router-outlet></router-outlet>
<!-- Rota da barra de navegação pelo Angular -->