<!-- barra de navegação -->
<div class="head">
    <nav id="main-menu">
      <ul class="nav-bar">
        <li class="nav-button-home">
          <a routerLink="/">Home</a>
        </li>
        <li class="nav-button-services">
          <a routerLink="/conheca-toronto">Conheça Toronto</a>
        </li>
        <li class="nav-button-products">
          <a routerLink="/locais">Locais</a>
        </li>
        <li class="nav-button-products">
          <a routerLink="/gastronomia">Gastronomia</a>
        </li>
        <li class="nav-button-products">
            <a routerLink="/hospedagem">hospedagem</a>
          </li>
        <li class="nav-button-products">
          <a routerLink="/viagem">Eventos</a>
        </li>
        <li class="nav-button-products">
          <a routerLink="/contato">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
  <!-- barra de navegação -->
  
  <!-- Imagem e texto inicial -->
  <div class="who_we_are">
    <div class="callout">
      <h5>O WEB SITE OFICIAL DE TURISMO TORONTO</h5>
      <div class="cycle">
        <h1></h1>
        <h1></h1>
        <h1>Toronto</h1>
      </div>
      <p>O CENTRO DO CANADÁ</p>
    </div>
  </div>
  <!-- Imagem e texto inicial -->
  
  <!-- Conteúdo -->
  <div class="what_we_do">
    <div class="content">
      <div class="flex-container">
          Procurar por nome:  <input type="text" [(ngModel)]="filtertext" class="form-control" placeholder="Search">
          Procurar por tipo:  <input type="text" [(ngModel)]="filtertipo" class="form-control" placeholder="Search">
        <ul class="cards">
          <li class="cards__item" *ngFor="let evento of eventos | search: filtertext | tipo: filtertipo">
            <div class="card">
              <img src={{evento.foto}} class="card__image">
              <div class="card__content">
                <div class="card__title">{{evento.nome}}</div>
                <p class="type">
                    <span>{{evento.tipo}}</span>
                  </p>
                <p class="card__text">
                  <span class="place">{{evento.descricao}}</span>
                  <br><br><b>Endereço:</b> {{evento.endereco}}
                  <br><b>Mais Informações:</b> {{evento.infos}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
      <!-- Conteúdo -->
  
      <!-- Informações Adicionais -->
  
      <div class="how_to_contact">
        <div class="content">
          <h1>Como nos contatar?</h1>
          <div class="footer">
            <p>Preencha nosso formulário clicando
              <a routerLink="/contato" id="link">aqui</a>
            </p>
            <p>© Toronto - O Centro do Canadá. Todos os direitos reservados.</p>
          </div>
        </div>
      </div>
      <!-- Informações Adicionais -->
  
      <!-- Rota da barra de navegação pelo Angular -->
      <router-outlet></router-outlet>
      <!-- Rota da barra de navegação pelo Angular -->